<div class="row">
  <div class="columns small-12">
    <ul class='inline-list'>
      {{#each day in days}}
        <li>
          {{day.title}}
          {{day.icon}}
          {{icon-name day.icon}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
