<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Ember Weather</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      {{#each}}
        <li>{{#link-to 'weather.search' this.id}}{{this.location}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </section>
</nav>
